DB_HOST=db
DB_PORT=5432
DB_NAME=poe_tracker_db
DB_USER=your_database_user
DB_PASSWORD=your_database_password

POE_LEAGUE=Curse of the Allflame

PGADMIN_EMAIL=your_email@example.com
PGADMIN_PASSWORD=your_pgadmin_password